parameters:
    level: 6
    paths:
        - simplybook.php
        - app
        - bootstrap
    excludePaths:
        # Elementor code is out of context in CI
        - app/Support/Widgets/ElementorWidget.php
    dynamicConstantNames:
        EXTENDIFY_PARTNER_ID: string|null
        RSP_SB_BASE_API_DOMAIN: string|null
        RSP_AUTH_URL: string|null
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore errors for add_action and add_filter callbacks that have a return type declared
        - identifier: return.void
          message: '#^Action callback returns .+ but should not return anything\.$#'

        # Ignore Elementor Errors in BlockController for example
        - identifier: class.notFound
          message: '#\b(Elementor)\\#'

        # We accept just the type "array" instead of "array<int,string>"
        - identifier: missingType.iterableValue

        # Some stubs report generics for, for example, WP_REST_Request. This is not needed in the WordPress context.
        - identifier: missingType.generics
