parameters:
    level: 5
    paths:
        - app
        - bootstrap
    dynamicConstantNames:
        EXTENDIFY_PARTNER_ID: string|null
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: return.void
          message: '#^Action callback returns .+ but should not return anything\.$#'
        - identifier: class.notFound
          message: '#\b(Elementor)\\#'