#   This file lives in the root, make sure to put the
#   NPMRC_FA_AUTH_TOKEN with the FA token in your .env
#
#   We use npmrc-replace-env (make sure to install it) to generate a .npmrc
#   https://github.com/dennzimm/npmrc-replace-env?tab=readme-ov-file
#
#   After setting the variable with the token in your .env
#   Run npx npmrc-replace-env 
#
#   A new local .npmrc will be created with the correct token and now you can use it to install FontAwesome packages.
#
#   NOTE: Keep your .env local and never push to main/production
#   
#
# Custom registry for @fortawesome packages
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=NPMRC_FA_AUTH_TOKEN