/**
 * SimplyBook Admin Notices
 */
.toplevel_page_simplybook-integration .notice.really-simple-plugins {
    margin: 16px;
}

.notice.really-simple-plugins {
    border-left: 4px solid #333;
}

.notice.really-simple-plugins.rsp-trial {
    border-left-color: #d63638;
}

.notice.really-simple-plugins .rsp-container {
    display: flex;
    padding: 12px;
}

.notice.really-simple-plugins .rsp-container .dashicons {
    margin-right: 5px;
    margin-left: 15px;
}

.notice.really-simple-plugins .rsp-notice-image {
    width: 80px;
    height: 80px;
}

.notice.really-simple-plugins .rsp-notice-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.notice.really-simple-plugins .rsp-notice-content {
    margin-left: 30px;
}

.notice.really-simple-plugins .rsp-buttons-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.notice.really-simple-plugins button.rsp-link {
    background: none;
    border: none;
    color: #2271b1;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
}

.rtl .notice.really-simple-plugins {
    border-left: 0;
    border-right: 4px solid #333;
}

.rtl .notice.really-simple-plugins.rsp-trial {
    border-right-color: #d63638;
}

.rtl .notice.really-simple-plugins .rsp-container .dashicons {
    margin-left: 5px;
    margin-right: 15px;
}

.rtl .notice.really-simple-plugins .rsp-notice-content {
    margin-left: 0;
    margin-right: 30px;
}
